h1 {
    color: white;
}

img {
    height: 270px;
}
p {color: #ffffff;}


.green {
    color:#47d147;
   
}

.red {
    color:#cce6ff;
    
  
}

body {background-color:#ce99ff;} 

li {color: white;}

li {font-family: 'Satisfy', cursive;}
